body{
    background-color: black;
    background-image: url("img/abil.png");
    background-position: center;
    background-size: 500px 300px;
    background-attachment: fixed;
}
form{
    margin: 50px auto;
    width: 500px;
    border-color: red;
    background-color: whitesmoke;
}
input[type=text], input[type=password], input[type=number] {
    margin: 5px auto;
    width: 400px;
    padding: 10px;
}
input[type=button] {
    padding: 10px;
    width: 90px;
    border: 1px solid #fff;
    color: #fff;
    background: red;
    border-radius: 30px;
}
table.biodata{
    margin: 50px auto;
    border-color: blue;
    background-color: whitesmoke;
    text-align: center;
    width: auto;
    height: 80px;
    
}

.tambah{
    /* position: absolute; */
    margin-top: -710px;
    margin-left: 0px;
    background-color: white;
    width: 350px;
    padding: 10px;
}

.tambah input[type=number]{
    width: 300px;
}

.tambah input[type=button] {
    padding: 10px;
    width: 100px;
    border: 1px solid #fff;
    color: #fff;
    background: red;
    border-radius: 30px;
}

table.hasil{
    margin-top: -240px;
    margin-right: -950px;
    border-color: red;
    background-color: whitesmoke;
    text-align: center;
    width: 350px;
    font-size: 30px;
    height: 100px;
}

table.hasil tr{
    border: none;
}